In [34]:
import pandas as pd

In [35]:
df = pd.read_csv("cleaned_data.csv", usecols=["ticket_id", "organization", "district", "coords"])

In [39]:
df_ks = df[df['district'] == "คลองสาน"]

In [40]:
org_counts = df_ks['organization'].value_counts().reset_index()
org_counts

               organization  count
0                       เขต   6993
1  สำนักงานก่อสร้างและบูรณะ    533
2          สำนักการระบายน้ำ      1
3     สำนักการจราจรและขนส่ง      1
4    กองบัญชาการตำรวจนครบาล      1

In [19]:
df[['lon', 'lat']] = df['coords'].str.split(",", expand=True).astype(float)

In [20]:
df.head(5)

,ticket_id,organization,coords,district,lon,lat
0,2022-7ZTKJV,เขต,"100.53764,13.70716",สาทร,100.53764,13.70716
1,2022-E24G76,เขต,"100.52674,13.70950",สาทร,100.52674,13.70950
2,2022-C37YCA,เขต,"100.52678,13.70967",สาทร,100.52678,13.70967
3,2022-8EW3HK,สำนักสิ่งแวดล้อม,"100.65816,13.68814",ประเวศ,100.65816,13.68814
4,2022-98YDNN,เขต,"100.52789,13.70611",สาทร,100.52789,13.70611

In [ ]:
# df = df.dropna(subset=['lat', 'lon'])

In [21]:
districts = df['district']
selected_district = 'คลองสาน'

In [22]:
filtered_df = df[df['district'] == selected_district].copy()

In [24]:
filtered_df

,ticket_id,organization,coords,district,lon,lat
143,2022-BDNT4F,การไฟฟ้านครหลวง,"100.50675,13.71570",คลองสาน,100.50675,13.71570
230,2022-NYAWNU,เขต,"100.50262,13.73346",คลองสาน,100.50262,13.73346
451,2022-6FZAAK,เขต,"100.50185,13.72688",คลองสาน,100.50185,13.72688
452,2022-8CZXXE,เขต,"100.50185,13.72688",คลองสาน,100.50185,13.72688
646,2022-D7U9YY,การไฟฟ้านครหลวง,"100.50881,13.72727",คลองสาน,100.50881,13.72727
...,...,...,...,...,...,...
674693,8ZAH27,เขต,"13.7284, 100.50805",คลองสาน,13.72840,100.50805
674905,2025-KYLUZE,เขต,"13.71983, 100.49508",คลองสาน,13.71983,100.49508
675019,2025-BFY4TF,เขต,"13.7235, 100.50008",คลองสาน,13.72350,100.50008
675151,2025-HG4JGM,เขต,"13.72142, 100.49389",คลองสาน,13.72142,100.49389
675156,2025-X99347,เขต,"13.72142, 100.49389",คลองสาน,13.72142,100.49389

In [13]:
latitude=filtered_df['lat'].mean()
print(latitude)

16.0423169820598

In [14]:
longitude=filtered_df['lon'].mean()
print(longitude)

98.18474333953488